In [16]:


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [18]:
ss=pd.read_csv("NIFTY.csv")

In [19]:
ss

,Date,Open,High,Low,Close,Volume,Turnover,Indices
0,03-10-2011,2877.75,2877.75,2798.50,2804.70,44481268.0,1.159290e+10,NIFTY METAL
1,04-10-2011,2789.00,2835.40,2726.60,2760.45,44854372.0,1.047380e+10,NIFTY METAL
2,05-10-2011,2782.10,2808.30,2738.85,2745.30,52547557.0,1.037740e+10,NIFTY METAL
3,07-10-2011,2832.50,2895.80,2832.50,2889.55,51353782.0,1.131810e+10,NIFTY METAL
4,10-10-2011,2886.45,2951.90,2876.35,2943.70,53634854.0,1.231390e+10,NIFTY METAL
...,...,...,...,...,...,...,...,...
8913,22-Feb-21,25579.75,25617.35,24646.45,24766.45,36356027.0,4.639880e+03,NIFTY_IT
8914,23-Feb-21,24933.70,25199.60,24709.15,24807.80,32326536.0,4.132380e+03,NIFTY_IT
8915,24-Feb-21,24814.55,24872.35,24518.70,24779.40,19719480.0,2.748240e+03,NIFTY_IT
8916,25-Feb-21,24979.00,25199.80,24830.70,24872.45,34541172.0,4.399080e+03,NIFTY_IT
8917,26-Feb-21,24611.20,24689.00,24212.80,24301.45,49174264.0,6.004920e+03,NIFTY_IT

In [20]:
ss['Date'] = pd.to_datetime(ss['Date'])

C:\Users\My PC\AppData\Local\Temp\ipykernel_20412\3795009685.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ss['Date'] = pd.to_datetime(ss['Date'])

In [21]:
ss['Year'] = ss['Date'].dt.year
ss['Month'] =ss['Date'].dt.month
ss['Day'] = ss['Date'].dt.day
ss['dayOfWeek'] = ss['Date'].dt.day_name()
ss['WeekOfYear'] = ss['Date'].dt.weekofyear

ss.head(419)

C:\Users\My PC\AppData\Local\Temp\ipykernel_20412\2097634242.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  ss['WeekOfYear'] = ss['Date'].dt.weekofyear

,Date,Open,High,Low,Close,Volume,Turnover,Indices,Year,Month,Day,dayOfWeek,WeekOfYear
0,2011-03-10,2877.75,2877.75,2798.50,2804.70,44481268.0,1.159290e+10,NIFTY METAL,2011,3,10,Thursday,10
1,2011-04-10,2789.00,2835.40,2726.60,2760.45,44854372.0,1.047380e+10,NIFTY METAL,2011,4,10,Sunday,14
2,2011-05-10,2782.10,2808.30,2738.85,2745.30,52547557.0,1.037740e+10,NIFTY METAL,2011,5,10,Tuesday,19
3,2011-07-10,2832.50,2895.80,2832.50,2889.55,51353782.0,1.131810e+10,NIFTY METAL,2011,7,10,Sunday,27
4,2011-10-10,2886.45,2951.90,2876.35,2943.70,53634854.0,1.231390e+10,NIFTY METAL,2011,10,10,Monday,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,2013-05-30,2222.45,2234.80,2206.95,2210.20,40211611.0,6.655800e+09,NIFTY METAL,2013,5,30,Thursday,22
415,2013-05-31,2207.65,2211.05,2148.15,2155.10,40643719.0,7.271700e+09,NIFTY METAL,2013,5,31,Friday,22
416,2013-03-06,2159.65,2174.35,2144.90,2167.25,26393107.0,3.880300e+09,NIFTY METAL,2013,3,6,Wednesday,10
417,2013-04-06,2175.05,2187.80,2155.35,2162.05,35746180.0,4.561400e+09,NIFTY METAL,2013,4,6,Saturday,14
418,2013-05-06,2157.30,2175.15,2152.90,2171.30,26704211.0,3.732400e+09,NIFTY METAL,2013,5,6,Monday,19

In [22]:
y=ss['Close']

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
ss['Indices']=le.fit_transform(ss['Indices'].astype("str"))
ss['Indices'].value_counts()
ss

,Date,Open,High,Low,Close,Volume,Turnover,Indices,Year,Month,Day,dayOfWeek,WeekOfYear
0,2011-03-10,2877.75,2877.75,2798.50,2804.70,44481268.0,1.159290e+10,0,2011,3,10,Thursday,10
1,2011-04-10,2789.00,2835.40,2726.60,2760.45,44854372.0,1.047380e+10,0,2011,4,10,Sunday,14
2,2011-05-10,2782.10,2808.30,2738.85,2745.30,52547557.0,1.037740e+10,0,2011,5,10,Tuesday,19
3,2011-07-10,2832.50,2895.80,2832.50,2889.55,51353782.0,1.131810e+10,0,2011,7,10,Sunday,27
4,2011-10-10,2886.45,2951.90,2876.35,2943.70,53634854.0,1.231390e+10,0,2011,10,10,Monday,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913,2021-02-22,25579.75,25617.35,24646.45,24766.45,36356027.0,4.639880e+03,2,2021,2,22,Monday,8
8914,2021-02-23,24933.70,25199.60,24709.15,24807.80,32326536.0,4.132380e+03,2,2021,2,23,Tuesday,8
8915,2021-02-24,24814.55,24872.35,24518.70,24779.40,19719480.0,2.748240e+03,2,2021,2,24,Wednesday,8
8916,2021-02-25,24979.00,25199.80,24830.70,24872.45,34541172.0,4.399080e+03,2,2021,2,25,Thursday,8
8917,2021-02-26,24611.20,24689.00,24212.80,24301.45,49174264.0,6.004920e+03,2,2021,2,26,Friday,8

In [24]:
X = ss[['Day','Month','Year','Indices']]

In [25]:
poly2 = PolynomialFeatures(degree =2)
X_poly = poly2.fit_transform(X)

In [26]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=15, random_state=0)
regressor.fit(X_poly,y)

RandomForestRegressor(n_estimators=15, random_state=0)

In [27]:
print(regressor.score(X_poly, y))

0.9990846633560175

In [28]:
Day = 26


Month =2
Year =2021
Indices=2

#Samples = Samples_31_July[0,0]
X1 = np.array([[Day,Month,Year,Indices]])
Total_infections  = regressor.predict(poly2.fit_transform(X1))

In [29]:
print('Total No of cases -> {}'.format(int(Total_infections[0])))

Total No of cases -> 24561

In [30]:
import pickle

pickle.dump(poly2,open('poly.pkl','wb'))
pol = pickle.load(open('poly.pkl','rb'))

In [31]:
import pickle

pickle.dump(regressor,open('regressor.pkl','wb'))
regresso = pickle.load(open('regressor.pkl','rb'))